<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>{{name}}</h3>
			<h4>{{topic}}</h4>
			<hr>
			<div class="messageList">
				<p ng-repeat="msg in msgs track by msg.timestamp" ng-style="msg.color">{{msg.timestamp | date: "HH:mm"}} - {{msg.nick}}: {{msg.message}}</p>
			</div>
			<input ng-model="newMsg" type="text" class="form-control ng-valid ng-dirty" placeholder="Type message" ng-keypress="($event.charCode==13)?onSendMsg():return">
		</div>
		<div class="col-md-4">
			<h4>Users in room:</h4>
			<div class="userList">
				<select ng-options="user.id as user.name for user in users" ng-model="selectedUser" size="25"></select>
			</div>
			<button ng-click="onSendPrvMsg()">Whisper</button>
			<button ng-show="checkIfOp()" ng-click="onKick()">Kick</button>
			<button ng-show="checkIfOp()" ng-click="onBan()">Ban</button>
			<button ng-click="onLeaveRoom()">Leave</button>
			<button ng-click="onDisc()">Disconnect</button>
		</div>
	</div>
</div>
